<ion-header>
  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>BlogField</ion-title>
  </ion-navbar>
</ion-header>



<ion-content >

<ion-card>
  <ion-card-header text-center>
   <ion-title>Login  
     <ion-icon ios="ios-log-in" md="md-log-in">
     </ion-icon>
   </ion-title>
   <hr> 
  </ion-card-header>
  <ion-card-content>
      <form #f="ngForm" (ngSubmit)="onLogin(f)">
          <ion-item id="rounded">
            <ion-label>Username: </ion-label>
            <ion-input type="text" placeholder="Username" name="username" required ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password:</ion-label>
            <ion-input type="password" placeholder="Password" name="password" required ngModel></ion-input>
          </ion-item>
          <button ion-button block round [disabled]="!f.valid" type="submit">Login</button>
        </form>
    </ion-card-content>
</ion-card>
</ion-content>
