<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>BlogField</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-card>
      <ion-title text-center>
          Sign Up  <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>

      </ion-title>
      <hr>
      <ion-card-content>
        <form #f="ngForm" (ngSubmit)="onSignUp(f)">
            <ion-item>
              <ion-label stacked>Name</ion-label>
              <ion-input autofocus type="text"  name="name" required ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Phone</ion-label>
              <ion-input type="number"  name="phone" required ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Image Url</ion-label>
              <ion-input type="text" name="image" required ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Username</ion-label>
              <ion-input type="text" name="username" required ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input type="password" name="password" required ngModel></ion-input>
            </ion-item>
        
        
            <button ion-button round block [disabled]="!f.valid" type="submit">Sign Up</button>
        
          </form>
    </ion-card-content>
  </ion-card>

</ion-content>
