<ion-header>

  <ion-navbar>
    <ion-title>BlogField</ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding>
    <ion-card >
      <ion-item>
        <ion-avatar item-start>
          <img src="https://pre00.deviantart.net/d8e6/th/pre/i/2018/027/9/7/avengers_infinity_war_by_ralfmef-dc1d1zd.jpg">
        </ion-avatar>
        <h2>Marty McFly</h2>
        <p>November 5, 1955</p>
      </ion-item>
    
      <img src="https://pre00.deviantart.net/d8e6/th/pre/i/2018/027/9/7/avengers_infinity_war_by_ralfmef-dc1d1zd.jpg">
    
      <ion-card-content>
          <ion-card-title>
              Nine Inch Nails Live
              </ion-card-title>
                <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
        
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>  
      </ion-row>
    </ion-card>
<ion-card>
<ion-card-title>
    Comments
  </ion-card-title>
      <ion-item>
          <ion-textarea></ion-textarea>
        </ion-item>
        <button ion-button icon-right small clear>
          <ion-icon name="text"></ion-icon>
           <div>Save</div>
        </button>
      
</ion-card>
</ion-content> -->



<ion-content>
  <ion-card>
    <ion-item>
    <!-- <ion-title text-center></ion-title> -->
    <h1>{{blog?.title}}</h1>
    <ion-note>
        <ion-icon name="time"></ion-icon>
        {{blog.date | date:fullDate}}
      </ion-note>
    </ion-item>
    <img [src]="blog?.image">

    <ion-item>
      <ion-row>
      <ion-avatar item-start>
        <img [src]="blog?.author?.image">
      </ion-avatar>
      <h2 text-uppercase>{{blog?.author?.name}}</h2>
      <ion-col class="delete-col">
          <button (click)="deleteBlog()" ion-button icon-left color="danger" clear small>
            <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-card-content>
      <p>{{blog?.desc}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col class="like-col">
        <button *ngIf="!isLiked" (click)="onLike()" color="unlike" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Like</div>
        </button>

        <button (click)="onLike()" *ngIf="isLiked" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>Liked</div>
        </button>

      </ion-col>
      <ion-col class="comment-col">
        <button (click)="onComment()" ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>Comment</div>
        </button>
      </ion-col>

      <ion-col class="edit-col">
        <button (click)="onEditBlog()" ion-button icon-left clear small>
          <ion-icon name="create"></ion-icon>
          <div>Edit</div>
        </button>
      </ion-col>
      

    </ion-row>

  </ion-card>
  <ion-list>
    <ion-item *ngFor="let comment of blog?.comments">
      <ion-avatar item-start>
        <img [src]="comment?.author?.image">
      </ion-avatar>
      <h2>{{comment?.author?.name}}</h2>
      {{comment?.content}}
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="create"></ion-icon>
            <div>Edit</div>
          </button>
        </ion-col>
        <ion-col>
          <button (click)="onDeleteComment(comment._id)" ion-button icon-left color="danger" clear small>
            <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>

</ion-content>