
<ion-content text-center>
  <ion-list>
      <h1>
                <ion-icon ios="ios-quote" md="md-quote"></ion-icon>
BlogField</h1>
      <ion-item >
          <img src="https://blog.evernote.com/in/files/2016/05/Travel-Blog.jpg">
      </ion-item>
  </ion-list>   
  <button ion-button (click)='onLogin()' color="dark" round block>Login</button>
  <br>OR<br>
  <br>
  <button ion-button block outline round (click)='onRegister()' color='dark' >Sign Up</button>
<br>
<br>
<br>

  <ion-item text-center >BlogField@2018</ion-item>  
</ion-content>
 
