<ion-menu [content]="nav">
    <ion-header>
        <!-- <ion-toolbar> -->
        <!-- </ion-toolbar> -->
    </ion-header>
    <ion-content>
        <ion-list>
            <button *ngIf="user" (click)="onPageLoad(profilePage)" ion-item detail-push>
                <ion-avatar item-start>
                    <img [src]="user?.image">
                </ion-avatar>
                <h2>{{user?.name}}</h2>
            </button>
            <button ion-item icon-left (click)="onPageLoad(homePage)">
                <ion-icon name="home"></ion-icon>Home</button>

            <button ion-item icon-left (click)="onPageLoad(editBlogPage)">
                <ion-icon name="create"></ion-icon>New Blog</button>

            <button ion-item icon-left (click)="onLogout()">
                <ion-icon name="md-log-out"></ion-icon>Log Out</button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>