<ion-header>

    <ion-navbar>
        <ion-title text-center>BlogField</ion-title>
        
      <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
     
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

    <ion-card (click)="onViewBlog(blog)" *ngFor="let blog of blogs">
        <ion-item>
         
            
         <h1>{{blog.title}}</h1>
            <ion-note>
                <ion-icon name="time"></ion-icon>
                {{blog.date | date:fullDate}}
              </ion-note>
          </ion-item>
        <img [src]="blog.image">
        <ion-item>
            <ion-avatar item-start>
                <img src="https://pre00.deviantart.net/d8e6/th/pre/i/2018/027/9/7/avengers_infinity_war_by_ralfmef-dc1d1zd.jpg">
              </ion-avatar>
              <h2 text-uppercase>{{blog?.author?.name}}</h2>
        </ion-item>
        <ion-card-content>
          <p>{{blog.desc}}</p>
        </ion-card-content>
      
    
        <ion-row>
          <ion-col col-5>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{blog.likes}} Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{blog.comments?.length}} Comments</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>


      
</ion-content>

    


