<ion-header>

  <ion-navbar>
    <ion-title text-center>{{pageTitle}}</ion-title>
    <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input formControlName="title" placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="image" placeholder="Image Url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea formControlName="desc" placeholder="Description" rows=15></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="onCancel()" color="danger" type="button">Cancel</button>
      </ion-col>
      <ion-col>
        <button ion-button block [disabled]="!blogForm.valid" type="submit">Save Blog</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>